<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body style="margin-top: 40px;">
    <div class="container">
        <h1 class="display-4">Adding Employee...</h1>
        <hr>

        Name : {{name}}
        <br>
        Department : {{dept}}
        <br>
        Post : {{post}}
        <br>
        Salary : {{salary}}
        <br>
        <b>Insert status : {{status}}</b>
        <br><br>
        <a href="/spider/">Home</a>

    </div>
    
</body>
</html>