<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body style="margin-top: 40px;">
    <div class="container">
        <h1 class="display-4">Employee Report</h1>
        <hr>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Department</th>
                <th>Post</th>
                <th>Salary</th>
            </tr>

            {% for rec in list %}
            <tr>
                {% for col in rec %}
                <td>{{col}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>

    </div>
    
</body>
</html>